<section id="<%= dom_id(furniture_placement) %>" class="mt-4 relative">
  <%- if local_assigns[:editing] %>
    <header class="flex border-b border-dashed border-primary-900">
      <h4 class="grow">
        <%= furniture_placement.title %>
      </h4>
      <%- if furniture_placement.configurable? %>
        <%= render ButtonComponent.new(
                      label: t('icons.edit'),
                      href: [:edit, furniture_placement.room.space, furniture_placement.room, furniture_placement],
                      method: :get,
                      title: t('.edit_title', name: furniture_placement.furniture.model_name.human.titleize)) %>
      <%- end %>

      <%= render ButtonComponent.new(
                    label: t('icons.remove'),
                    href: [furniture_placement.room.space, furniture_placement.room, furniture_placement],
                    title: t('.remove_title', name: furniture_placement.furniture.model_name.human.titleize),
                    method: :delete,
                    confirm: t('.confirm_destroy')) %>
    </header>
    <%- if local_assigns[:include_form] %>
      <%= render partial: 'furniture_placements/form', locals: { furniture_placement: furniture_placement } %>
    <%- end %>
  <%- elsif furniture_placement.furniture.respond_to?(:in_room_template) %>
    <%= render partial: furniture_placement.furniture.in_room_template,
              locals: { furniture: furniture_placement.furniture, space: furniture_placement.space, room: furniture_placement.room,
                        person: current_person } %>
  <%- else %>
    <%= render furniture_placement.furniture %>
  <%- end %>
</section>
