<fieldset id="new_furniture_placement">
  <h3><%= t('rooms.place_furniture_heading') %></h3>
  <%= form_with model: [furniture_placement.room.space, furniture_placement.room, furniture_placement] do | placement_form | %>
    <%= placement_form.hidden_field :slot, value: furniture_placement.room.furniture_placements.count %>
    <%= placement_form.select :furniture_kind, Furniture::REGISTRY.keys.map { |k| [k.to_s.titleize, k] } %>
    <footer>
      <%= placement_form.submit %>
    </footer>
  <%- end %>
</fieldset>