<h2>Marketplace</h2>

<div>
  <h3>Products</h3>
  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
            <%= Marketplace::Product.human_attribute_name(:name) %>
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">
            <%= Marketplace::Product.human_attribute_name(:description) %>
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">
            <%= Marketplace::Product.human_attribute_name(:price) %>
          </th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <%= render marketplace.products %>
      </tbody>
    </table>
  </div>
</div>
<%= form_with model: [marketplace.space, marketplace.room, marketplace.products.new] do |f| %>
  <%= render "text_field", { attribute: :name, form: f} %>
  <%= render "text_area", { attribute: :description, form: f} %>
  <%= render "number_field", { attribute: :price_cents, form: f} %>
  <%= f.submit %>
<% end %>
