<tr id="<%= dom_id %>">
  <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">

      <%= product.name %>

    <dl class="font-normal lg:hidden">
      <dt class="sr-only"><%= product.class.human_attribute_name(:price) %></dt>
      <dd><%= humanized_money_with_symbol(product.price) %></dd>
      <dt class="sr-only"><%= product.class.human_attribute_name(:description) %></dt>
      <dd class="mt-1 truncate text-gray-700"><%= product.description %></dd>

    </dl>
  </td>

  <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">
    <%= humanized_money_with_symbol(product.price) %>
  </td>
  <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%- if cart_product.quantity.zero? %>
      <%= button_to("Add to Cart", cart.location(child: :cart_products), method: :post,  params: { cart_product: { product_id: product.id, quantity: 1 } }) %>
    <%- else %>
      <%= render cart_product.quantity_picker %>
    <%- end %>
  </td>
</tr>
