<div class="flex flex-wrap items-baseline">
  <h2 class="ml-2 mt-1">
    <%= t('marketplace.marketplace.manage_header') %>
  </h2>
  <p class="ml-2 mt-1 truncate text-sm text-gray-500">
    <%= marketplace.room.name %>
  </p>
</div>
<%= render CardComponent.new(classes: "mt-3") do |card| %>
  <%= content %>

  <% card.with_footer do %>
    <nav class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-3">
      <%= render ButtonComponent.new(
        label: t('marketplace.marketplace.configuration_menu'),
        icon: :gear,
        href: marketplace.location(:edit),
        turbo_stream: false, method: :get, scheme: :secondary
      ) if policy(marketplace).edit? %>

      <%= render ButtonComponent.new(
        label: t('marketplace.products.index.link_to'),
        icon: :tag,
        href: marketplace.location(child: :products),
        turbo_stream: false, method: :get, scheme: :secondary
      ) if policy(marketplace).edit? %>

      <%= render ButtonComponent.new(
        label: t('marketplace.delivery_areas.index.link_to'),
        icon: :map,
        href: marketplace.location(child: :delivery_areas),
        turbo_stream: false, method: :get, scheme: :secondary
      ) if policy(marketplace.delivery_areas.new).create? %>

      <%= render ButtonComponent.new(
        label: t('marketplace.tax_rates.index.link_to'),
        icon: :receipt_percent,
        href: marketplace.location(child: :tax_rates),
        turbo_stream: false, method: :get, scheme: :secondary
      ) if policy(marketplace.bazaar.tax_rates.new(marketplace: marketplace)).create? %>

      <%= render ButtonComponent.new(
        label: t('marketplace.orders.index.link_to'),
        icon: :cart,
        href: marketplace.location(child: :orders),
        turbo_stream: false, method: :get, scheme: :secondary
      ) if policy(marketplace.orders).index? %>


      <%= render ButtonComponent.new(
        label: t("marketplace.order_notification_methods.index.link_to"),
        icon: :letter,
        href: marketplace.location(child: :order_notification_methods),
        method: :get, turbo_stream: false, scheme: :secondary
      ) if policy(marketplace.order_notification_methods).index? %>
    </nav>
  <% end %>
<% end %>
