<div class="flex flex-wrap items-baseline">
  <h2 class="ml-2 mt-1">
    <%= t('marketplace.marketplace.manage_header') %>
  </h2>
  <p class="ml-2 mt-1 truncate text-sm text-gray-500">
    <%= marketplace.room.name %>
  </p>
</div>
<div class="flex flex-col space-y-3">
  <%= render onboarding_component %>
  <%= render "flash_messages" , flash: flash %>
  <%= render CardComponent.new do |card| %>
    <%= content %>
    <% card.with_footer do %>
      <nav class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
        <%= render button({child: :payment_settings}, icon: :money) if policy(marketplace).edit? %>
        <%= render button({child: :products}, icon: :tag)  if policy(marketplace.products).index? %>
        <%= render button({child: :delivery_areas}, icon: :map)  if policy(marketplace.delivery_areas).index? %>
        <%= render button({child: :tax_rates}, icon: :receipt_percent)  if policy(marketplace.tax_rates).index? %>
        <%= render button({child: :orders}, icon: :cart)  if policy(marketplace.orders).index? %>
        <%= render button({child: :notification_methods}, icon: :bell)  if policy(marketplace.notification_methods).index? %>
        <%= render button({child: :flyer}, icon: :receipt_percent)  if policy(marketplace.flyer).show? %>
        <%= render button({child: :vendor_representatives}, icon: :cake) if policy(marketplace.vendor_representatives).index? %>
      </nav>
    <% end %>
  <% end %>
</div>
