<%= render CardComponent.new(dom_id: dom_id(product)) do |card| %>
  <% if product.photo.present? %>
    <%- card.with_header(variant: :no_padding) do %>
      <figure>
        <%= image_tag hero_image, class: "rounded-t-lg w-full" %>
        <figcaption class="px-2 pt-4 sm:px-4">
          <%= render Marketplace::Product::TitleComponent.new(product:) %>
          <%- if product.archived? %>
            <span class="italic">(archived)</span>
          <%- end %>
        </figcaption>
      </figure>
    <% end %>
  <%- else %>
    <%- card.with_header do %>
      <%= render Marketplace::Product::TitleComponent.new(product:) %>
    <%- end %>
  <%- end %>

  <div class="text-sm italic">
    <%= description %>
  </div>

  <div class="text-right mt-3">
    <div class="text-xs italic">
      <%= tax_rates %>
    </div>
    <p><%= price %></p>
  </div>

  <%- card.with_footer(variant: :action_bar) do %>
    <%= render edit_button if edit_button? %>
    <%= render archive_button if archive_button?  %>
    <%= render destroy_button if destroy_button? %>
  <%- end %>
<%- end %>
