<%= render CardComponent.new(dom_id: dom_id(tax_rate)) do |card| %>
  <%- card.with_header do |card| %>
    <h3><%= label %></h3>
  <%- end %>

  <div>
    <%= rate  %>
  </div>

  <%- card.with_footer(variant: :action_bar) do %>
    <%= render edit_button if edit_button? %>
    <%= render destroy_button if destroy_button?  %>
  <%- end %>
<%- end %>
