<div class="flex justify-between px-4 py-4 sm:px-6 text-sm">
  <p class="grow font-medium text-primary-600 truncate">
    <%= membership.member.name || "Unknown" %>
  </p>
  <p class="text-gray-500 px-2">
    <%= membership.member.email %>
  </p>
  <p class="text-gray-500 px-2">
    Joined on
    <time datetime="2020-01-07">
      <%= l(membership.created_at, format: :short) %>
    </time>
    <br>
  <% if membership.invitation.present? %>
      Invited by: <%= membership.invitation.invitor.name %>
  <% end %>
  </p>
  <p class="shrink">
    <%= button_to t('icons.remove'),
      [space, membership],
      title: t('memberships.delete'),
      method: :delete,
      class: 'no-underline'
    %>
  </p>
</div>
