<% breadcrumb :edit_space, space %>

<%- if Feature.enabled?(:invitation) %>
  <fieldset>
    <header>
      <h3><%= t('invitations.invite_member_heading') %></h3>
    </header>


    <div>
      <%= form_with(model: [ space, Invitation.new ], local: true) do |invitation_form| %>
        <div>
          <%= invitation_form.label :name %>
          <%= invitation_form.text_field :name %>
          <%= render partial: "error", locals: { model: invitation_form.object, field: :name } %>
        </div>

        <div>
          <%= invitation_form.label :email %>
          <%= invitation_form.text_field :email %>
          <%= render partial: "error", locals: { model: invitation_form.object, field: :email } %>
        </div>

        <footer>
          <%= invitation_form.submit %>
        </footer>
      <% end %>
    </div>

    <section>
      <h3><%= t('invitations.invited_members_heading') %></h3>
      <ul>
        <%- space.invitations.each do |invitation| %>
          <li>
            <%= invitation.name %>
            &lt;<%= invitation.email %>&gt;
            <%= invitation.last_sent_at %>
            (<%= invitation.status %>)
          </li>
        <% end %>
      </ul>
    </section>
  </fieldset>
<%- end %>

<fieldset>
  <header>
    <h3>Rooms</h3>
  </header>

  <div>
    <%- space.rooms.each do |room| %>
      <%- if policy(room).edit? %>
        <div data-access-level="<%=room.access_level %>" data-slug="<%=room.slug%>" data-model="room" data-id="<%=room.id%>">
          <%= link_to edit_space_room_path(room.space, room) do %>
            <span class="icon --configure" role="img" aria-label="Configure"></span><%= room.name %>
          <% end %>
        </div>
      <%- end %>
    <% end %>
  </div>

  <footer>
    <%= link_to new_space_room_path(space) do %>
      <span class="icon --add" role="img" aria-label="Add"></span>Add New Room
    <% end %>
  </footer>
</fieldset>

<fieldset>
  <h3>Utility Hookups</h3>
  <%- space.utility_hookups.each do |utility_hookup| %>
    <%- if policy(utility_hookup).edit? %>
    <%= render partial: "utility_hookups/form", locals: { utility_hookup: utility_hookup } %>
    <%- end %>
  <%- end %>
</fieldset>
