<% breadcrumb :edit_space, space %>

<fieldset>
  <header>
    <h3>Space Configuration</h3>
  </header>

  <div>
    <%= form_with model: @space do |form| %>
      <%= form.text_field :name %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <header>
    <h3>Members and Invitations</h3>
  </header>

  <div>
    <%= form_with model: @space.invitations.new do |member_form| %>
    <%- end %>
  </div>
</fieldset>


<fieldset>
  <header>
    <h3>Rooms</h3>
  </header>

  <div>
    <%- space.rooms.each do |room| %>
      <%- if policy(room).edit? %>
        <div data-access-level="<%=room.access_level %>" data-slug="<%=room.slug%>" data-model="room" data-id="<%=room.id%>">
          <%= link_to edit_space_room_path(room.space, room) do %>
            <span class="icon --configure" role="img" aria-label="Configure"></span><%= room.name %>
          <% end %>
        </div>
      <%- end %>
    <% end %>
  </div>

  <footer>
    <%= link_to new_space_room_path(space) do %>
      <span class="icon --add" role="img" aria-label="Add"></span>Add New Room
    <% end %>
  </footer>
</fieldset>

<fieldset>
  <h3>Utility Hookups</h3>
  <%- space.utility_hookups.each do |utility_hookup| %>
    <%- if policy(utility_hookup).edit? %>
    <%= render partial: "utility_hookups/form", locals: { utility_hookup: utility_hookup } %>
    <%- end %>
  <%- end %>
</fieldset>
