<%- breadcrumb :edit_marketplace, marketplace %>

<div class="max-w-2xl self-stretch md:container md:mx-auto px-40">
  <%= render "form", marketplace: marketplace %>
  <p class="flex my-5 flex-col">
    <%- if policy(marketplace.products.new).create? %>
      <%= link_to t('marketplace.products.index.link_to'), marketplace.location(child: :products) %>
    <%- end %>

    <%- if policy(marketplace.products.new).create? %>
      <%= link_to t('marketplace.delivery_areas.index.link_to'), marketplace.location(child: :delivery_areas) %>
    <%- end %>

    <%- if policy(marketplace.tax_rates.new).create? %>
      <%= link_to(t("marketplace.tax_rates.index.link_to"), marketplace.location(child: :tax_rates)) %>
    <%- end %>

    <%- if marketplace.stripe_api_key? %>
      <%- if marketplace.stripe_account_connected? %>
        <%= t('.stripe_connected') %>
      <%- end %>
      <%= button_to t('.connect_stripe'),
          marketplace.location(child: :stripe_account), method: :post, data: { turbo: false } %>
    <% else %>
      <%= link_to t('.missing_stripe_api_key', space_name: space.name),
          space.location(:edit), method: :get %>
    <% end %>
  </p>
</div>
