<%- breadcrumb :edit_marketplace, marketplace %>

<%= render "form", marketplace: marketplace %>

<%- if marketplace.stripe_api_key? %>
  <%- if marketplace.stripe_account_connected? %>
    <%= t('.stripe_connected') %>
  <%- end %>
  <%= button_to t('.connect_stripe'),
      marketplace.location(child: :stripe_account), method: :post, data: { turbo: false } %>
<% else %>
  <%= button_to t('.missing_stripe_api_key', space_name: space.name),
      space.location(:edit), method: :get, data: { turbo: false } %>
<% end %>

<%- if policy(marketplace.products.new).create? %>
  <%= button_to t('marketplace.product.index'),
      marketplace.location(child: :products), method: :get, data: { turbo: false } %>
<%- end %>

<h3>Tax Rates</h3>
<%= render policy_scope(marketplace.tax_rates) %>

<%- if policy(marketplace.tax_rates.new).create? %>
  <%= link_to("Add Tax Rate", marketplace.location(:new, child: :tax_rate)) %>
<%- end %>
