<%- breadcrumb :edit_marketplace, marketplace %>

<%= render Marketplace::ManagementComponent.new(marketplace: marketplace) do %>
  <%= render "form", marketplace: marketplace %>
  <p class="flex justify-between my-5 flex-wrap">
    <%- if marketplace.stripe_api_key? %>
      <%- if marketplace.stripe_account_connected? %>
        <%= t('.stripe_connected') %>
      <%- end %>
      <%= button_to t('.connect_stripe'),
          marketplace.location(child: :stripe_account), method: :post, data: { turbo: false } %>
    <% else %>
      <%= link_to t('.missing_stripe_api_key', space_name: space.name),
          space.location(:edit), method: :get %>
    <% end %>
  </p>
<% end %>
