<%- product = cart_product.product %>
<%- cart = cart_product.cart %>
<tr id="cart-product-<%= cart_product.product_id %>">
  <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
    <%= product.name %>
    <dl class="font-normal lg:hidden">
      <dt class="sr-only"><%= product.class.human_attribute_name(:description) %></dt>
      <dd class="mt-1 truncate text-gray-700"><%= product.description %></dd>
    </dl>
  </td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">
    <%= product.description %>
  </td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">
    <%= humanized_money_with_symbol(product.price) %>
  </td>
  <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%# TODO: Extract minus and plus buttons into components %>
    <%- if cart_product.quantity.positive? %>
      <%- minus_quantity = [cart_product.quantity - 1, 0].max %>
      <%- minus_method = minus_quantity.zero? ? :delete : :put %>
      <%= render "buttons/minus", disabled: cart_product.quantity.zero?, method: minus_method, title: t('.remove'), href: [cart.space, cart.room, cart.marketplace, cart, cart_product, { cart_product: { quantity: minus_quantity, product_id: product.id} }] %>
    <%- end %>

    <span class="text-lg"><%= cart_product.quantity %></span>

    <%- add_quantity = cart_product.quantity + 1 %>
    <%- add_method = add_quantity == 1 ? :post : :put %>
    <%= render "buttons/plus", method: add_method, title: t('.add'), href: [cart.space, cart.room, cart.marketplace, cart, cart_product, { cart_product: {quantity: add_quantity, product_id: product.id} }] %>
  </td>
</tr>
