<div class="<%== card_classes_wrapper %>">
  <% if content? %>
    <div <%== attributes(classes: card_classes_content) %>">
      <%= content %>
    </div>
  <% end %>
  <% if footer? %>
    <div class="<%== card_classes_footer %>">
      <%= footer %>
    </div>
  <% end %>
</div>
