<div class="<%== wrapper_classes %>">
  <% if content? %>
    <div <%== attributes(classes: content_classes) %>">
      <%= content %>
    </div>
  <% end %>
  <% if footer? %>
    <div class="<%== footer_classes %>">
      <%= footer %>
    </div>
  <% end %>
</div>
