<div <%==attributes(classes: card_classes_wrapper) %>>
 <% if header? %>
  <header>
    <%= header%>
  </header>

 <%- end %>
  <%#
    NOTE: content? is not always working as described, and is returning a proc in some cases rather than a boolean
  %>
  <% if content.present? %>
    <div class="<%== card_classes_content %>">
      <%= content %>
    </div>
  <% end %>
  <% if footer? %>
    <div class="<%== card_classes_footer %>">
      <%= footer %>
    </div>
  <% end %>
</div>
