<%= form_with(model: tag.location) do |form| %>
  <div class="flex flex-col gap-5">
    <div>
      <%= render "text_field", attribute: :label, form: form %>
      <%= form.label :is_group, "Is this a menu section?" %>
      <%= form.check_box :is_group %>
    </div>
    <%= form.submit %>
  </div>
<%- end %>
