<%= form_with(model: tag.location) do |form| %>
  <div class="flex flex-col gap-5">
    <div>
      <%= render "text_field", attribute: :label, form: form %>
      <%= form.label :is_menu, "Make this a menu" %>
      <%= form.check_box :is_menu %>
    </div>
    <%= form.submit %>
  </div>
<%- end %>
