<%- breadcrumb :marketplace_tags, marketplace %>
<section class="mt-3">
  <div class="flex flex-col gap-4">
    <div>
      <h1>Menus</h1>
      <%- if marketplace.tags.menu_tag.empty? %>
        There are currently no tags marked as Menus
      <% else %>
        <p>Drag and drop to change the order in which groups will display on your Marketplace</p>
        <ul data-tag-list-test data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="tag" class="flex flex-col gap-2 p-0">
          <%- marketplace.tags.menu_tag.by_position.each do |tag| %>
            <li data-sortable-update-url="<%= polymorphic_path(tag.location) %>" id="<%= dom_id(tag)%>" class="list-none cursor-move">
              <%= render Marketplace::Tag::AdminComponent.new(tag: tag) %>
            </li>
          <%- end %>
        <%- end%>
      </ul>
    </div>
    <div>
      <h1>Tags</h1>
      <p>Adding tags to your products like "vegan" or "discounted" will help shoppers more easily find what they want</p>
      <div class="grid grid-cols-1 gap-3 sm:gap-5 sm:grid-cols-3">
        <%= render Marketplace::Tag::AdminComponent.with_collection(marketplace.tags.not_menu) %>
      </div>
    </div>
    <div class="text-center mt-3">
      <%- new_tag = marketplace.tags.new %>
      <%- if policy(new_tag).create? %>
        <%= render ButtonComponent.new(
        label: "#{t('marketplace.tags.new.link_to')}",
        title: t('marketplace.tags.new.link_to'),
        href: marketplace.location(:new, child: :tag),
        method: :get,
        scheme: :secondary) %>
      <%- end %>
    </div>
  </div>
</div>
