<div id="<%= dom_id(cart) %>">

  <%- if !cart.ready_for_shopping? %>
    <%= form_with model: cart.location do |cart_form| %>
      <%= cart_form.hidden_field :status %>
      <%= render "text_field", attribute: :delivery_address, form: cart_form %>
      <%- if cart.marketplace.delivery_window.present? %>
        <%= render "text_field", attribute: :delivery_window, form: cart_form, disabled?: true %>
      <%- else %>
        <%= render "datetime_field", attribute: :delivery_window, form: cart_form %>
      <%- end %>
      <%= render "email_field", attribute: :contact_email, form: cart_form %>
      <%= render "text_field", attribute: :contact_phone_number, form: cart_form %>

      <%= cart_form.submit t('marketplace.delivery_info.edit') %>
    <%- end %>

  <%- else %>
    <div class="flex justify-between flex-wrap">
      <div class="sm:w-1/2 w-full flex items-center justify-between text-sm">
        <span>Delivering to:</span>
        <%= cart.delivery_address %>
        <%= render ButtonComponent.new(href: cart.location.concat([params: { cart: { delivery_address: nil } }]), label: t('marketplace.delivery_address.edit'), title: nil, classes: "shrink font-light text-xs m-0 bg-primary-200 underline") %>
      </div>

      <div class="sm:w-1/2 w-full flex items-center justify-between text-sm">
        <span>Contact Phone Number:</span>
        <%= cart.contact_phone_number %>
        <%= render ButtonComponent.new(href: cart.location.concat([params: { cart: { contact_phone_number: nil } }]), label: t('marketplace.contact_phone_number.edit'), title: nil, classes: "shrink font-light text-xs m-0 bg-primary-200 underline") %>
      </div>
    </div>

    <div class="-mx-4 mt-4 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
      <table class="min-w-full divide-y divide-gray-300 table-fixed">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
              <%= Marketplace::Product.human_attribute_name(:name) %>
            </th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">
              <%= Marketplace::Product.human_attribute_name(:description) %>
            </th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">
              <%= Marketplace::Product.human_attribute_name(:price) %>
            </th>
            <th  scope="col" class="w-48">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <%- cart.marketplace.products.each do |product| %>
            <%= render cart.cart_products.find_or_initialize_by(product: product) %>
          <%- end %>
        </tbody>
        <%= render "marketplace/carts/footer", cart: cart %>
      </table>
    </div>
  <%- end %>

  <p class="text-right py-2 text-sm">
    <%- if cart.marketplace.delivery_window.present? %>
      Orders placed by <%= cart.marketplace.order_by %>
      are delivered on <%= cart.marketplace.delivery_window %>
    <%- elsif cart.delivery_window.present? %>
      Place orders <%= cart.marketplace.order_by %> to ensure an on-time delivery for <%= l(cart.delivery_window, format: :day_month_date_hour_minute) %><br />
      <%= render ButtonComponent.new(href: cart.location.concat([params: { cart: { delivery_window: nil } }]), label: t('marketplace.delivery_window.edit'), title: nil, classes: "shrink font-light text-xs m-0 bg-primary-200 underline") %>
    <%- end %>
  </p>
</div>
