<header>
  <%- if current_space.present? %>
    <div>
      <%= breadcrumbs container_tag: 'nav' , fragment_class: 'crumb' , separator: " &rsaquo; " , semantic: true, display_single_fragment: true %>
    </div>
  <%- end %>



  <%- if Feature.enabled?(:identification) %>
    <nav aria-label="Menu" class="profile-menu">
      <%- if current_person.authenticated? %>
        <%= link_to "Sign out" , people.sign_out_path %>
      <%- else %>
        <%= link_to "Sign in" , people.sign_in_path %>
      <%- end %>
    </nav>
  <%- end %>
</header>

<%- flash.each do |kind, message| %>
  <div class="flash-message --<%= kind %>">
    <p>
      <%= message %>
    </p>
  </div>
<%- end %>