<header class="header">
  <div class="space-menu">
    <h1><%= current_space&.name %></h1>

    <%- if Feature.enabled?(:identification) %>
      <div class="profile-menu" data-controller="menu">
        <div>
          <figure class="avatar">
            <%= image_tag current_person.avatar_url, size: 30 %>
            <figcaption><%= current_person.name %></figcaption>
          </figure>

          <nav class="--hidden" data-target="menu.items">
            <%- if current_person.is_a? Person %>
              <%= link_to "Logout", people.sign_out_path, class: "profile-menu-dropdown-item", id: "logout" %>
            <%- else %>
              <%= link_to "Login",  people.sign_in_path,  class: "profile-menu-dropdown-item" %>
            <%- end %>
          </nav>
        </div>

        <%= button_tag "", type: "button", class: "navigation-toggle", "data-action": "click->menu#toggle click@window->menu#hide",  "data-target": "menu.button", "aria-labelledby": "profile-menu-dropdown-button" %>
      </div>
    <%- end %>

    <div>
      <h3>Convene</h3>
      <h3 class="font-hairline">video meeting spaces</h3>
    </div>
  </div>
</header>
