<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_space&.jitsi_meet_domain %>
      <script defer src='https://<%= current_space.jitsi_meet_domain %>/external_api.js'></script>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <%= yield %>
    </main>


    <footer>
      <div>
        <%- if policy(current_space).edit? %>
          <%= link_to "", edit_space_path(current_space), class: "icon --configure", aria_label: "Configure Space", role: "img" %>
        <% end %>
        <%= breadcrumbs container_tag: 'nav', fragment_class: 'crumb', separator: " &rsaquo; ", semantic: true, display_single_fragment: true %>
      </div>

      <div class="branding">
        <h3>Convene<span class="tagline">: Space to Work, Play, or Simply Be</span></h3>
      </div>
    </footer>
  </body>
</html>
