<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_workspace&.jitsi_meet_domain %>
      <script defer src='https://<%= current_workspace.jitsi_meet_domain %>/external_api.js'></script>
    <% end %>
  </head>

  <body class="app <%= yield(:page_bem_class) %>">
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
