<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if current_space&.jitsi_meet_domain %>
      <script defer src='https://<%= current_space.jitsi_meet_domain %>/external_api.js'></script>
    <% end %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <%= yield %>
    </main>


    <footer>
      <%= render partial: "breadcrumbs" %>

      <div class="branding">
        <h3>
          <%= link_to "Convene", "https://convene.zinc.coop/" %><span class="tagline">: Space to Work, Play, or Simply Be</span>
        </h3>
      </div>
    </footer>
  </body>
</html>
