<div data-access-level="<%= room.access_level %>" data-slug="<%= room.slug %>" data-model="room" data-id="<%= room.id%>" class="room-card">
  <header>
    <h3><%= room.name %></h3>
    <%- if room.locked? %>
      <span class="icon --lock" role="img" aria-label="Locked"></span>
    <%- end %>
    <%- if room.locked? && room.enterable?(current_access_code(room)) %>
      <span class="icon --key" role="img" aria-label="Enterable"></span>
    <%- end %>
  </header>
  <footer>
    <div class="room-door_enter">
      <%= link_to [room.space, room] do %>
        <span class="icon --enter" role="img" aria-label="Enter <%= room.name %>">Enter Room</span>
      <% end %>
    </div>
  </footer>
</div>
