<%= render CardComponent.new(classes: "mt-3 gap-y-3") do %>
  <header>
    <h3>Sections</h3>
  </header>
  <div>
    <%- space.rooms.each do |room| %>
      <%- if policy(room).edit? %>
        <div data-access-level="<%=room.access_level %>" data-slug="<%=room.slug%>" data-model="room" data-id="<%=room.id%>">
          <%= link_to [:edit, room.space, room] do %>
            <span class="icon --configure" role="img" aria-label="Configure"></span><%= room.name %>
          <% end %>
        </div>
      <%- end %>
    <% end %>
  </div>
  <footer>
    <%= link_to [:new, space, :room] do %>
      <span class="icon --add" role="img" aria-label="Add"></span>Add New Section
    <% end %>
  </footer>
  <%= form_with(model: space.location) do |space_form| %>
    <%= render SelectComponent.new({
      choices: space.rooms.map { |room| [room.name, room.id] },
      attribute: :entrance_id,
      form: space_form,
    }) %>
    <%= space_form.submit %>
  <%- end %>
<% end %>
