<%= render CardComponent.new(classes: "mt-3 gap-y-3") do %>
  <header>
    <h3><%= t('website_settings.index.link_to') %></h3>
    <p class="text-sm italic"><%= t('website_settings.help_text') %></p>
  </header>

  <h4 class="text-base"> Domain </h4>
  <% if space.branded_domain.present? %>
    <p class="text-sm"><%=  space.branded_domain.presence || "No Domain" %></p>
  <% else %>
    <p class="text-sm"> No domain </p>
  <% end %>

  <%= form_with model: space.location do | web_settings_form | %>
    <%= web_settings_form.label :enforce_ssl do %>
      <%= web_settings_form.check_box :enforce_ssl %>
        Enforce SSL - Automatically redirects all Visitor traffic to this Space to https.
      <% end %>
    <%= web_settings_form.submit %>
  <% end %>
<% end %>
