<%= render CardComponent.new(classes: "mt-3 gap-y-3") do %>
  <header>
    <h3><%= t('website_settings.index.link_to') %></h3>
    <p class="text-sm"><%= t('website_settings.help_text') %></p>
  </header>

  <%= form_with model: space.location, data: { turbo: false } do | web_settings_form | %>
    <%= render "text_field", attribute: :branded_domain, form: web_settings_form %>

    <%= web_settings_form.label :enforce_ssl do %>
      <%= web_settings_form.check_box :enforce_ssl %>
        Enforce SSL - Automatically redirects all Visitor traffic to this Space to https.
      <% end %>
    <%= web_settings_form.submit class: "--secondary" %>
  <% end %>
<% end %>
