<% breadcrumb :edit_space, space %>

<fieldset>
  <h3>People & Permissions</h3>
  <ul>
    <li><%= link_to t('memberships.heading'), [space, :memberships] %></li>
    <li><%= link_to t('invitations.heading'), [space, :invitations] %></li>
  </ul>
</fieldset>

<fieldset>
  <header>
    <h3>Rooms</h3>
  </header>

  <div>
    <%- space.rooms.each do |room| %>
      <%- if policy(room).edit? %>
        <div data-access-level="<%=room.access_level %>" data-slug="<%=room.slug%>" data-model="room" data-id="<%=room.id%>">
          <%= link_to [:edit, room.space, room] do %>
            <span class="icon --configure" role="img" aria-label="Configure"></span><%= room.name %>
          <% end %>
        </div>
      <%- end %>
    <% end %>
  </div>

  <footer>
    <%= link_to [:new, space, :room] do %>
      <span class="icon --add" role="img" aria-label="Add"></span>Add New Room
    <% end %>
  </footer>
</fieldset>

<fieldset>
  <%= form_with(model: space.location) do |space_form| %>
    <%= render "select", attribute: :entrance_id, include_blank: true, options: space.rooms.map { |room| [room.name, room.id] }, form: space_form %>
    <%= space_form.submit %>
  <%- end %>
</fieldset>


<fieldset>
  <header>
    <h3><%= t('utilities.index.link_to') %></h3>
    <p class="text-sm italic"><%= t('utilities.help_text') %></p>
  </header>

  <ul>
    <%- space.utilities.each do |utility| %>
      <li>
        <span class="flex justify-between w-full">
          <span class="grow"><%= utility.name %> <%= utility.utility_slug  %></span>
          <span>
            <%- if policy(utility).edit? %>
              <%= render ButtonComponent.new(href: utility.location(:edit),
                                            title: t('utilities.edit.link_to', utility_type: utility.utility_slug, name: utility.name),
                                            label: t('icons.edit'),
                                            method: :get,
                                            scheme: :secondary) %>
            <%- end %>

            <%- if policy(utility).destroy? %>
              <%= render ButtonComponent.new(href: utility.location,
                                            title: t('utilities.destroy.link_to', utility_type: utility.utility_slug, name: utility.name),
                                            label: t('icons.destroy'),
                                            method: :delete,
                                            scheme: :secondary) %>
            <%- end %>
          </span>
        </span>
      </li>
    <%- end %>
  </ul>

  <p><%= link_to t('utilities.new.link_to'), space.location(:new, child: :utility) %></p>
</fieldset>

<%= render CardComponent.new do %>
  <header>
    <h3><%= t('space.agreements.index.link_to') %></h3>
    <p class="text-sm italic"><%= t('space.agreements.help_text') %></p>
  </header>
  <div>
    <%- space.agreements.each do |agreement| %>
      <span class="flex justify-between w-full rounded border p-2 my-2 border-t-0 border-l-0">
          <span class="grow"><%= agreement.name %></span>
      </span>
    <%- end %>
  <div>
  <footer class="mt-4 text-center">
    <%- new_agreement = space.agreements.build %>
    <%- if policy(new_agreement).create? %>
      <%= render ButtonComponent.new(
        label: "#{t('space.agreements.new.link_to')} #{t('icons.new')}",
        title: t('space.agreements.new.link_to'),
        href: space.location(:new, child: :agreement),
        method: :get,
        scheme: :secondary) %>
    <%- end %>
  </footer>
<%- end %>
