<% breadcrumb :edit_space, space %>

<fieldset>
  <h3>People & Permissions</h3>
  <ul>
    <li><%= link_to t('memberships.heading'), [space, :memberships] %></li>
    <li><%= link_to t('invitations.heading'), [space, :invitations] %></li>
  </ul>
</fieldset>

<fieldset>
  <header>
    <h3>Rooms</h3>
  </header>

  <div>
    <%- space.rooms.each do |room| %>
      <%- if policy(room).edit? %>
        <div data-access-level="<%=room.access_level %>" data-slug="<%=room.slug%>" data-model="room" data-id="<%=room.id%>">
          <%= link_to [:edit, room.space, room] do %>
            <span class="icon --configure" role="img" aria-label="Configure"></span><%= room.name %>
          <% end %>
        </div>
      <%- end %>
    <% end %>
  </div>

  <footer>
    <%= link_to [:new, space, :room] do %>
      <span class="icon --add" role="img" aria-label="Add"></span>Add New Room
    <% end %>
  </footer>
</fieldset>

<fieldset>
  <%= form_with(model: space.location) do |space_form| %>
    <%= render "select", attribute: :entrance_id, include_blank: true, options: space.rooms.map { |room| [room.name, room.id] }, form: space_form %>
    <%= space_form.submit %>
  <%- end %>
</fieldset>


<fieldset>
  <h3>Utilities</h3>
  <%- space.utilities.each do |utility| %>
    <%- if policy(utility).edit? %>
      <%= render partial: "utilities/form", locals: { utility: utility } %>
    <%- end %>
  <%- end %>

  <%= link_to "Add a Utility", [:new, space, :utility] %>
</fieldset>
