<%= render CardComponent.new do %>
  <h3 class="w-full">Delivering To</h3>
  <%= turbo_frame_tag(dom_id, class: "flex flex-wrap justify-between") do %>
    <%- if delivery_area.present? %>
      <div>
        <%= delivery_area.label %>
        <div class="text-sm text-gray-500">
          <%= render(Marketplace::Cart::DeliveryExpectationsComponent.new(cart: cart)) %>
          <%- if single_delivery_area? %>
            <div><small>Orders outside of this location will be subject to cancellation.</small></div>
          <% end %>
          <div>Delivery Fee: <%= fee_description %></div>
        </div>
      </div>
      <div class="text-right">
        <%- unless single_delivery_area? %>
          <%= link_to(t('marketplace.cart.delivery_areas.edit.link_to'), cart.location(:edit, child: :delivery_area)) %>
        <%- end %>
      </div>
    <%- else %>
      <%- if single_delivery_area? %>
        <div><%= single_delivery_area_label %></div>
        <small>Orders outside of this location will be subject to cancellation.
        </small>
      <% else %>
        <%= render "marketplace/cart/delivery_areas/form", cart: cart %>
      <%- end %>
    <%- end %>
  <%- end %>
<%- end %>
