<turbo-frame id="check-dropbox">
  <%= payments.where("data->>'status' = 'ready_for_deposit' OR data->>'status' is null").size %> payments ready for deposit
  <%= payments.where("data->>'status' = 'uncleared'").size %> payments deposited but not yet cleared
  <%= payments.where("data->>'status' = 'cleared'").size %> payments deposited and cleared.
  <% payments.each do |payment| %>
    <p>
      Payer name: <%= payment.payer_name %><br>
      Payer email: <%= payment.payer_email %><br/>
      Amount: <%= payment.amount %><br/>
      Memo: <%= payment.memo %><br  />
      Account Number: <%= payment.account_number %><br />
      Routing Number: <%= payment.routing_number %><br />
    </p>
    <%- if payment.ready_for_deposit? %>
      I'm ready for deposit!
    <%- end %>

    <%- if payment.uncleared? %>
      I'm deposited, but it hasn't been confirmed that I cleared yet!
    <%- end %>

    <%- if payment.cleared? %>
      I'm deposited, and it has been confirmed that I cleared!
    <%- end %>
    <hr/>
  <% end %>
</turbo-frame>
