<div class="bg-white shadow sm:rounded-lg m-5">
  <div class="px-4 py-5 sm:p-6">
    <%= form_with model: room, url: workspace_room_path(room.workspace, room), local: true do |room_form| %>
      <fieldset>
        <legend class="text-lg leading-6 font-medium text-gray-900">Privacy and Security</legend>
        <div class="mt-6 sm:mt-5">
          <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5 text-right">
            <%= room_form.label :access_level, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                <%= room_form.select :access_level, ['locked', 'unlocked'], {}, { class: "block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" } %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-gray-200 sm:pt-5 text-right">
            <%= room_form.label :access_code, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
              <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                <%= room_form.text_field :access_code, class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
            </div>
          </div>
          <%- if room.errors[:access_code].present? %>
            <p class="text-center access-code-form__error-message"><%= room.errors[:access_code].join(', ') %></p>
          <%- end %>
        </div>
      </fieldset>
      <footer class="mt-5 flex flex-row-reverse">
        <%= room_form.submit class: "inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-50 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-blue-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5"%>

      </footer>
    <% end %>
  </div>
</div>