<% breadcrumb :edit_room, room %>
<%= form_with model: room, url: space_room_path(room.space, room), data: { controller: "room-edit-form" }, local: true do |room_form| %>
  <fieldset>
    <div>
      <%= room_form.label :name %>
      <%= room_form.text_field :name %>
      <%= render partial: "error", locals: { model: room, field: :name } %>
    </div>

    <div>
      <%= room_form.label :slug %>
      <%= room_form.text_field :slug %>
      <%= render partial: "error", locals: { model: room, field: :slug } %>
    </div>

    <h3>Privacy and Security</h3>

    <div>
      <%= room_form.label :access_level %>
      <%= room_form.select :access_level, ['locked', 'unlocked'], { class: "form-select" }, "data-action": "room-edit-form#accessLevelToggle" %>
      <%= render partial: "error", locals: { model: room, field: :access_level } %>
    </div>

    <div>
      <%= room_form.label :access_code %>
      <%= room_form.text_field :access_code, "data-target": "room-edit-form.accessCode", disabled: !room.locked? %>
      <%= render partial: "error", locals: { model: room, field: :access_code } %>
    </div>

    <footer>
      <%= room_form.submit class: "mr-5" %>
      <%= link_to 'Cancel', space_path(room.space), class: "button --neutral" %>
    </footer>
  </fieldset>
<% end %>


<fieldset>
  <h3>Furniture</h3>
  <%- room.furniture_placements.each do |furniture_placement| %>
    <%= form_for(furniture_placement) do |furniture_placement_form| %>
      <header>
        <h4>
          <%= furniture_placement.furniture.model_name.human.titleize %>
        </h4>
      </header>
      <div>
        <%- if furniture_placement.furniture_kind.blank? %>
          <%= furniture_placement_form.select :furniture_kind,Furniture::REGISTRY.keys.map(&:to_s) %>
        <% end %>
        <%= furniture_placement_form.hidden_field(:slot) %>
        <%= render partial: furniture_placement.furniture.form_template, locals: { form: furniture_placement_form } %>
      </div>
      <footer>
        <%- if furniture_placement.furniture.attribute_names.present? %>
          <%= furniture_placement_form.submit class: "mr-5" %>
        <%- end %>
      </footer>
    <% end %>
  <% end %>
</fieldset>