<li>
  <%= invitation.name %>
  &lt;<%= invitation.email %>&gt;
  <%= invitation.last_sent_at %>
  (<%= invitation.status %>)
  <%- if invitation.pending? && policy(invitation).destroy? %>
    <%= render "buttons/remove", href: [space, invitation], title: t('invitation.destroy') %>
  <%- end %>
</li>