
<tr data-invitation-email="<%=invitation.email %>" data-invitation-status="<%=invitation.status%>">
  <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
    <%= invitation.name || "Unknown" %>
    <dl class="font-normal lg:hidden">
      <dt class="sr-only"><%= Invitation.human_attribute_name(:status) %></dt>
      <dd class="mt-1 truncate text-gray-700"><%= invitation.status.titleize %></dd>
      <dt class="sr-only sm:hidden"><%= Invitation.human_attribute_name(:email) %></dt>
      <dd class="mt-1 truncate text-gray-500 sm:hidden"><%= invitation.email %></dd>
    </dl>
  </td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">
    <%= invitation.status.titleize %>
  </td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">
    <%= invitation.email %>
  </td>
  <td class="px-3 py-4 text-sm text-gray-500">
    Invited on
    <time datetime="2020-01-07">
      <%= l(invitation.created_at, format: :short) %>
    </time>
    <br>
    <% if invitation.invitor.present? %>
        Invited by: <%= invitation.invitor.name %>
    <% end %>
  </td>
  <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%- if !invitation.revoked? && policy(invitation).destroy?  %>
      <%= render ButtonComponent.new(
                   label: t('icons.destroy'),
                   href: [space, invitation],
                   title: t('invitation.destroy'),
                   method: :delete,
                   scheme: :secondary
      ) %>
    <%- end %>
  </td>
</tr>
