<% breadcrumb :rsvp, rsvp %>

<% if rsvp.invitation.ignored? %>
  <%= render partial: "ignored", locals: { rsvp: rsvp } %>
<% else %>
  <h2><%= t('.header', email: rsvp.invitation.email)%></h2>
  <p><%= t('.summary', invitor_name: rsvp.invitation.invitor_display_name) %></p>

  <%= form_with model: [rsvp.space, rsvp.invitation, rsvp], local: true do |rsvp_form|%>
    <%= rsvp_form.hidden_field :status, value: "accepted" %>
    <%= render "text_field", form: rsvp_form, attribute: :one_time_password %>
    <%= rsvp_form.submit t('.accept', space_name: rsvp.space.name) %>
  <%- end %>
<% end %>
