<%= render CardComponent.new(dom_id: dom_id(product), classes: "mt-3") do %>
  <%= form_with model: product.location do |f| %>
    <%= render "text_field", { attribute: :name, form: f} %>
    <%= render "rich_text_area", { attribute: :description, form: f} %>
    <%= render "number_field", { attribute: :servings, form: f, min: 0, step: 1} %>

    <%= render "money_field", { attribute: :price, form: f, min: 0, step: 0.01} %>
    <%= render "collection_check_boxes", { attribute: :tag_ids, collection: bazaar.tags, value_method: :id,
        text_method: :label, form: f} %>
    <%= render "collection_check_boxes", { attribute: :tax_rate_ids, collection: bazaar.tax_rates, value_method: :id, text_method: :label, form: f} %>
    <%- if product.photo.present? %>
      <div>
        <%= image_tag product.photo.variant(resize_to_limit: [150, 150]), class: "rounded-lg" %>
      </div>
    <%- end %>
    <%= render "file_field", { attribute: :photo, form: f} %>
    <%= f.submit %>
  <% end %>
<%- end %>
