<%- breadcrumb(:marketplace_delivery_areas, marketplace) %>

<%= render Marketplace::ManagementComponent.new(marketplace: marketplace) do %>
  <section class="mt-3">
    <main>
      <div class="grid grid-cols-1 gap-3 sm:gap-5 sm:grid-cols-3">
        <%- if params[:archive] %>
          <%= render Marketplace::DeliveryAreaComponent.with_collection(delivery_areas.discarded) %>
        <%- else %>
          <%= render Marketplace::DeliveryAreaComponent.with_collection(delivery_areas.kept) %>
        <%- end %>
      </div>
    </main>

    <div class="text-center mt-3">
      <%- new_delivery_area = marketplace.delivery_areas.new %>
      <%- if policy(new_delivery_area).create? && !params[:archive] %>
        <%= render ButtonComponent.new(
          label: "#{t('marketplace.delivery_areas.new.link_to')} #{t('icons.new')}",
          title: t('marketplace.delivery_areas.new.link_to'),
          href: marketplace.location(:new, child: :delivery_area),
          method: :get,
          scheme: :secondary) %>
      <%- end %>
    </div>
    <div class="text-center mt-3">
      <%- if params[:archive] %>
        <%= link_to "Active Delivery Areas", marketplace.location(child: :delivery_areas) %>
      <%- else %>
        <%= link_to "Archived Delivery Areas", marketplace.location(child: :delivery_areas, query_params: { archive: true }) %>
      <%- end %>
    </div>
  </section>
<% end %>
