<div class="grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
  <% policy_scope(section_navigation.rooms).each do |room| %>
    <%= link_to polymorphic_path(room.location), id: dom_id(room, :link_to), class: "group no-underline" do %>
      <%= render CardComponent.new(media: room.hero_image, classes: "flex flex-col justify-between") do |card| %>
        <p><%= room.description %></p>
        <footer class="text-2xl text-justify font-semibold flex justify-between items-baseline">
          <h3>
            <%= room.name %>
          </h3>
          <%= render SvgComponent.new(classes: "h-5 w-5") do %>
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          <% end %>
        </footer>
      <%- end %>
    <%- end %>
  <% end %>
</div>
