<%- if delivery.delivery_area.present? %>
  <p class="text-lg font-bold"><%= render(delivery.delivery_area) %></p>
<%- end %>
<p class="text-left py-1 text-sm">
  <%= render(Marketplace::Cart::DeliveryExpectationsComponent.new(cart: delivery.cart)) %>
</p>
<%= turbo_frame_tag(delivery) do %>
  <% if delivery.details_filled_in? %>
    <p class="font-bold">Delivering to:</p>
    <div class="rounded p-2 bg-stone-50">
      <p>
        <%= delivery.contact_email %><br />
        <%= number_to_phone(delivery.contact_phone_number) %><br />
        <%= delivery.delivery_address %><br />

        <span class="italic text-gray-800"><%= delivery.delivery_notes %></span>
      </p>
      <p class="text-sm">
        <%= link_to(t("marketplace.cart.deliveries.edit.link_to"), delivery.location(:edit)) %>
      </p>
    </div>

    <h2>Payment Details</h2>
    <%= button_to("Make Payment", delivery.cart.location(child: :checkout), data: { turbo: false }) %>
  <%- else %>
    <%= render "marketplace/cart/deliveries/form", delivery: delivery %>
  <%- end %>
<%- end %>
