
<%= turbo_frame_tag(delivery) do %>
  <% if delivery.details_filled_in? %>
    <h3 class="font-bold">Delivering to:</h3>
    <p>
      <%= render(delivery.delivery_area) %><br />
      <span class="text-sm font-light"><%= render(Marketplace::Cart::DeliveryExpectationsComponent.new(cart: delivery.cart)) %></span>
    </p>

    <div class="rounded p-2 bg-orange-50 mb-3">
      <p>
        <%= delivery.contact_email %><br />
        <%= number_to_phone(delivery.contact_phone_number) %><br />
        <%= delivery.delivery_address %><br />

        <span class="text-gray-800"><%= delivery.delivery_notes %></span>
      </p>
      <p class="text-sm">
        <%= link_to(t("marketplace.cart.deliveries.edit.link_to"), delivery.location(:edit)) %>
      </p>
    </div>

    <%= button_to("Place Order", delivery.cart.location(child: :checkout), data: { turbo: false }) %>
  <%- else %>
    <%= render "marketplace/cart/deliveries/form", delivery: delivery %>
  <%- end %>
<%- end %>
