<%= turbo_frame_tag(delivery) do %>
  <p class="text-left py-1 text-sm">
    <span class="font-bold">Delivery Time:</span>
    <%= render(Marketplace::Cart::DeliveryExpectationsComponent.new(cart: delivery.cart)) %>
  </p>
  <% if delivery.details_filled_in? || delivery.delivery_area.present? %>
    <p class="text-left py-1 text-sm">
      <span class="font-bold">Delivering to:</span>
        <%= delivery.delivery_address if delivery.delivery_address.present? %>
        <%= render(delivery.delivery_area) if delivery.delivery_area.present? %>
    </p>
  <% end %>
  <%= link_to(t("marketplace.cart.deliveries.edit.link_to"), delivery.location(:edit)) %>
<%- end %>
