<div id="<%= dom_id(delivery) %>">
  <%= form_with model: delivery.location do |delivery_form| %>
    <%= render "text_field", attribute: :delivery_address, form: delivery_form %>
    <%= render "window_field", attribute: :delivery_window, form: delivery_form %>
    <%= render "email_field", attribute: :contact_email, form: delivery_form %>
    <%= render "text_field", attribute: :contact_phone_number, form: delivery_form %>
    <%= delivery_form.submit %>
  <%- end %>
</div>
