<%= form_with model: room.location do |room_form| %>
  <fieldset>
    <%= render "text_field", attribute: :name, form: room_form %>
    <%= render "text_field", attribute: :slug, form: room_form %>

    <h3>Privacy and Security</h3>

    <%= render "select", attribute: :publicity_level, options: Room::PUBLICITY_LEVELS.map(&:to_s), form: room_form %>
    <%= render "select", attribute: :access_level, options: Room::ACCESS_LEVELS.map(&:to_s), form: room_form %>

    <footer>
      <%- if policy(room).destroy? && room.persisted? %>
        <%= room_form.button name: "_method", value: "delete", class: "--danger" do %>
          <%=t('.destroy')%>
        <%- end %>
      <%- end %>

      <%= room_form.submit %>
    </footer>
  </fieldset>
<% end %>
