<%= render CardComponent.new do %>
  <%= form_with model: room.location do |room_form| %>
    <%= render "text_field", attribute: :name, form: room_form %>
    <%= render "text_field", attribute: :slug, form: room_form %>
    <%= render "text_area", attribute: :description, form: room_form, label_hint: 'Add brief summary of your section for search engines to display as snippets in results' %>
    <%- if room.hero_image&.media&.attached? %>
      <div data-controller="section-form">
        <div class="relative overflow-hidden bg-gray-100 dark:bg-gray-600">
          <%= image_tag room.hero_image&.media %>
        </div>
      </div>
    <% end %>
    <%= render "file_field",
        attribute: :hero_image_upload,
        form: room_form,
        model: room,
        label: "Upload a header image",
        label_hint: "",
        required: false
      %>
    <h3>Privacy and Security</h3>
    <%= render "radio_group", attribute: :access_level, options: Room::access_levels.values, form: room_form %>
    <footer>
      <%= room_form.submit %>
    </footer>
  <% end %>
<% end %>
