<% breadcrumb :edit_room, room %>

<h1>Configure <%= room.name %></h1>

<%= render partial: 'form', locals: { room: room } %>

<%= render CardComponent.new(classes: "mt-3 gap-y-3") do %>
  <h2>Gizmos</h2>

  <div id="furnitures">
    <% if room.gizmos.present? %>
      <%= render room.gizmos.rank(:slot), editing: true %>
    <% else %>
      <p class="text-gray-500"><%= t('rooms.no_furniture_notice') %></p>
    <% end %>
  </div>

  <%- new_furniture = room.gizmos.new %>
  <%- if policy(new_furniture).new? %>
    <%= render "furnitures/new", furniture: new_furniture %>
  <%- end %>
<% end %>


<%- if policy(room).destroy? && room.persisted? %>
  <div class="m-5">
    <h2><%= t("rooms.destroy.prompt")%></h2>
    <%- if !room.gizmos.reload.empty? %>
      <%= t('rooms.destroy.blocked_by_gizmos') %>
    <%- elsif room.entrance? %>
      <%= t('rooms.destroy.blocked_by_entrance') %>
    <%- else %>
      <%= button_to(t('rooms.destroy.link_to'), room.location, method: :delete, class: "--danger w-full") %>
    <%- end %>
  </div>
<%- end %>
