<h1><%= keyword.canonical_keyword %></h1>
<%- if keyword.aliases.present? %>
  <p class="text-sm">Also known as <%= to_sentence(keyword.aliases) %></p>
<%- end %>

<h2>Entries about <span class="text-gray-800"><%= keyword.canonical_keyword %></span></h2>
<%= render Journal::NewEntryButtonComponent.new(keyword: keyword) %>
<ul>
  <%- policy_scope(keyword.entries).each do |entry|%>
    <li><%= link_to(entry.headline, entry.location) %></li>
  <%- end %>
</ul>
<%= render Journal::NewEntryButtonComponent.new(keyword: keyword) %>
