<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-amber-100">
    <%= render "header" %>

    <main class="bg-amber-100">
      <%= yield %>
    </main>


    <footer class="bg-amber-500">
      <%= render partial: "breadcrumbs" %>
    </footer>
  </body>
</html>
