<%= form_with(model: [space, utility_hookup]) do |form| %>
  <%= form.hidden_field :utility_slug %>
  <header>
    <h4>
      <%= utility_hookup.utility.display_name %>
    </h4>
  </header>

  <div>
    <%= render partial: utility_hookup.utility.form_template, locals: { form: form } %>
  </div>

  <footer>
    <%- if utility_hookup.utility.attribute_names.present? %>
      <%= form.submit "Save changes to #{utility_hookup.utility.display_name} ✔️" %>
    <%- end %>
  </footer>
<%- end %>
