<div class="<%= local_assigns[:container_classes]%>">
  <%= form.label attribute %>
  <% if local_assigns[:label_hint] %>
    <small><%= local_assigns[:label_hint] %></small>
  <% end %>
  <%= form.rich_text_area attribute, class: local_assigns[:field_classes] %>
  <%= render partial: "error", locals: { model: form.object, attribute: attribute } %>
</div>
