<%= form_with(model: utility_hookup, url: space_utility_hookup_path(utility_hookup.space, utility_hookup), local: true) do |form| %>
  <%= form.hidden_field :utility_slug %>
  <header>
    <h4>
      <%= utility_hookup.utility.model_name.human.titleize %>
    </h4>
  </header>

  <div>
    <%= render partial: utility_hookup.utility.form_template, locals: { form: form } %>
  </div>

  <footer>
    <%- if utility_hookup.utility.attribute_names.present? %>
      <%= form.submit %>
    <%- end %>
  </footer>
<%- end %>