<%= form_with model: [current_space, authenticated_session] do |form| %>
  <fieldset class="p-4">
    <%- if form.object.contact_location.blank? %>
      <%= form.hidden_field :contact_method, value: :email %>
      <%= render "email_field", form: form, attribute: :contact_location %>
    <% else %>
      <p>Check your email for a one-time password to complete the sign in process</p>
      <%= form.hidden_field :contact_method %>
      <%= form.hidden_field :contact_location %>
      <%= render "text_field", form: form, attribute: :one_time_password %>
    <% end %>
    <p><%= form.submit %></p>
  </fieldset>
<% end %>
