<% edit_href = nil %>
<% edit_href = furniture.location(:edit) if furniture.configurable? %>
<% edit_href = furniture.to_kind_class.location(:edit) if furniture.to_kind_class.has_controller_edit? %>
<section id="<%= dom_id(furniture) %>" class="mt-4 relative">
  <%- if local_assigns[:editing] %>
    <header class="flex border-b border-dashed border-orange-500 justify-between">
      <h4><%= furniture.title %></h4>
      <div>
        <%- if edit_href.present? %>
          <%= render ButtonComponent.new(
                        label: t('icons.edit'),
                        href: edit_href,
                        method: :get,
                        turbo_stream: true,
                        title: t('.edit_title', name: furniture.furniture.model_name.human.titleize),
                        scheme: :secondary) %>
        <%- end %>
        <%= render ButtonComponent.new(
                      label: t('icons.destroy'),
                      href: [furniture.room.space, furniture.room, furniture],
                      title: t('.remove_title', name: furniture.furniture.model_name.human.titleize),
                      method: :delete,
                      confirm: t('.confirm_destroy'),
                      scheme: :secondary) %>
      </div>
    </header>
    <%- if local_assigns[:include_form] %>
      <%= render partial: 'furnitures/form', locals: { furniture: furniture } %>
    <%- end %>
  <%- elsif furniture.furniture.respond_to?(:in_room_template) %>
    <%= render partial: furniture.furniture.in_room_template,
              locals: { furniture: furniture.furniture, space: furniture.space, room: furniture.room,
                        person: current_person } %>
  <%- else %>
    <%= render furniture.furniture %>
  <%- end %>
</section>
