<fieldset id="new_furniture">
  <h3><%= t('rooms.place_furniture_heading') %></h3>
  <%= form_with model: furniture.location do | placement_form | %>
    <%= placement_form.hidden_field :slot, value: furniture.room.furnitures.count %>
    <%= placement_form.select :furniture_kind, Furniture.registry.keys.map { |k| [k.to_s.titleize, k] } %>
    <footer>
      <%= placement_form.submit %>
    </footer>
  <%- end %>
</fieldset>
