<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%# Env variables being made accessible to JavaScript %>
  <%= tag :meta, name: :sentry_dsn, content: ENV["SENTRY_DSN"] %>
  <%= tag :meta, name: :release_tag,
      content: "#{ENV.fetch("APP_BASE", "convene")}@#{ENV.fetch("HEROKU_RELEASE_VERSION", "??")}" %>

  <%- if turbo_visit_control? %>
    <%= tag :meta, name: :turbo_visit_control, content: turbo_visit_control %>
  <%- end %>

  <%- if defined?(room) %>
    <%= tag :meta, name: :description, content: room.description %>
  <%- end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
