<header>
  <%= render partial: "breadcrumbs" %>


  <nav aria-label="Menu" class="profile-menu" data-person-email="<%= current_person.email %>">
    <%- if current_person.authenticated? %>
      <%- if current_membership.present? %>
        <%= link_to "Account", space_membership_path(current_space, current_membership), title: current_membership.member.email %>
      <%- end %>
      <%= link_to "Sign out", space_authenticated_session_path(current_space), data: { turbo: true, turbo_method: :delete }, class: 'sign-out' %>
    <%- else %>
      <%= link_to "Sign in", new_space_authenticated_session_path(current_space), class: "sign-in" %>
    <%- end %>
  </nav>
</header>

<%= render "flash_messages" , flash: flash %>
