<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <%= yield %>
    </main>


    <footer class="flex-wrap">

      <%= render partial: "breadcrumbs" %>

      <div>
        <%- if policy(current_space).edit? %>
          <%- if editing? %>
            <%= link_to t('icons.edit'), polymorphic_path(current_space, { editing: nil  }), class: 'no-underline', aria: { label: "Stop Configuring Space" } %>
          <%- else %>
            <%= link_to t('icons.edit'), polymorphic_path(current_space, { editing: true }), class: 'no-underline', aria: { label: "Configure Space"} %>
          <%- end %>
        <%- end %>
        <%= link_to "Convene", "https://convene.zinc.coop/" %>: Space to Work, Play, or Simply Be
      </div>
      <div>
        💾&nbsp;
        <%= link_to "Contribute", "https://github.com/zinc-collective/convene" %>
        💚&nbsp;
        <%= link_to "Sponsor", "https://opencollective.com/zinc-community" %>
      </div>
    </footer>
  </body>
</html>
