<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%# Env variables being made accessible to JavaScript %>
    <%= tag :meta, name: :sentry_dsn, content: ENV["SENTRY_DSN"] %>
    <%= tag :meta, name: :release_tag,
        content: "#{ENV.fetch("APP-BASE", "convene")}@#{ENV.fetch("HEROKU_RELEASE_VERSION", "??")}" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render "layouts/hotjar" %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main id="<%= current_space.present? ? dom_id(current_space) : nil %>">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>


    <footer class="flex-wrap">

      <%= render partial: "breadcrumbs" %>

      <div>
        <%- if current_room && policy(current_room).edit? %>
          <%= link_to t('icons.edit'), [:edit, current_space, current_room], class: 'no-underline', aria: { label: "Configure Section"} %>
        <%- end %>
        <%= render Neighborhood::LinkComponent.new %>
      </div>
      <div>
        💾&nbsp;
        <%= link_to "Contribute", "https://github.com/zinc-collective/convene" %>
        💚&nbsp;
        <%= link_to "Sponsor", "https://opencollective.com/zinc-community" %>
      </div>

      <%- if current_space&.agreements&.present? %>
        <div class="text-xs mt-2 w-full flex flex-wrap justify-center">
          <%- current_space.agreements.each do |agreement| %>
            <%- next unless agreement.persisted? %>
            <%= link_to(agreement.name, agreement.location, class: "px-4 py-2") %>
          <%- end %>
        </div>
      <%- end %>
    </footer>
  </body>
</html>
