<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%# Env variables being made accessible to JavaScript %>
    <%= tag :meta, name: :sentry_dsn, content: ENV["SENTRY_DSN"] %>
    <%= tag :meta, name: :release_tag,
        content: "#{ENV.fetch("APP-BASE", "convene")}@#{ENV.fetch("HEROKU_RELEASE_VERSION", "??")}" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main id="<%= current_space.present? ? dom_id(current_space) : nil %>">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>


    <footer class="flex-wrap">

      <%= render partial: "breadcrumbs" %>

      <div>
        <%- if current_room && policy(current_room).edit? %>
          <%= link_to t('icons.edit'), [:edit, current_space, current_room], class: 'no-underline', aria: { label: "Configure Section"} %>
        <%- end %>

      </div>

      <nav class="text-sm w-full flex flex-wrap justify-center" aria-label="Profile Menu" data-person-email="<%= current_person.email %>">
        <%- if current_person.authenticated? %>
          <%- if current_membership.present? %>
            <%= link_to "Your Account", [current_space, current_membership], title: current_membership.member.email, class: "px-4 py-1" %>
          <%- end %>
          <%= link_to "Sign out", [current_space, :authenticated_session].compact, data: { turbo: true, turbo_method: :delete }, class: "sign-out px-4 py-1" %>
        <%- else %>
          <%= link_to "Sign in", [:new, current_space, :authenticated_session].compact, class: "px-4 py-1" %>
        <%- end %>
      </nav>

      <div class="text-xs w-full flex flex-wrap justify-center mt-1">
        <%= link_to "💾 Contribute", "https://github.com/zinc-collective/convene", class: "px-2 py-1" %>
        <%= link_to "💚 Sponsor", "https://opencollective.com/zinccommunity", class: "px-2 py-1" %>

        <%- current_space&.agreements&.each do |agreement| %>
          <%- next unless agreement.persisted? %>
          <%= link_to(agreement.name, agreement.location, class: "px-2 py-1") %>
        <%- end %>
      </div>
      <div class="mt-1 text-xs">
        <%= render Neighborhood::LinkComponent.new %>
      </div>
    </footer>
  </body>
</html>
